<%= render layout: 'layouts/home' do %>
    <% @cities.each do |city| %>
        <%= render partial: 'static_pages/partials/city', locals: {city: city} %>
    <% end %>
    <%= link_to add_path do %>
        <div class="city-add">
            <h2><%= fa_icon 'plus' %></h2>
        </div>
    <% end %>
<% end %>