@import "bootstrap";
@import "font-awesome.css";

$nuke-green: #98dd5c;
$nuke-green-hover: #87c453;

$brand-hover: rgba(255, 255, 255, 0.788);

$footer: rgba(255, 255, 255, 0.185);
$footer-height: 7vh;

html, body{
    background-color: var(--dark);
    color: white;
}

body {
    margin-bottom: $footer-height;
}

.header{
    font-weight: bold;
    margin: 0.5vh 1vw;
    .showcase{
        border-radius: 20px;
        background-color: $nuke-green;
        color: var(--dark) !important;
        margin-right: 1vw;
        &:hover{
            background-color: $nuke-green-hover;
        }
    }
    .contact{
        color: $nuke-green !important;
        &:hover{
            color: $nuke-green-hover !important;
        }
    }
    .navbar-brand:hover{
        color: $brand-hover;
    }
}

.footer{
    display: flex;
    align-items: center;
    padding: 1vh 1vw;
    position: fixed;
    width: 100%;
    height: $footer-height;
    bottom: 0;
    background-color: $footer;
    .details{
        margin-left: 2vw;
    }
    .socials{
        margin-left: auto;
    }
    a{
        margin-left: 0.5vw;
        color: white;
    }
}