@import "bootstrap";
@import "font-awesome.css";

$footer-height: 7vh;

body {
    margin-bottom: $footer-height;
}

.header{
    font-weight: bold;
    margin: 0.5vh 1vw;
    .showcase{
        border-radius: 20px;
        margin-right: 1vw;
    }
}

.footer{
    display: flex;
    align-items: center;
    padding: 1vh 1vw;
    position: fixed;
    width: 100%;
    height: $footer-height;
    bottom: 0;
    .details{
        margin-left: 2vw;
    }
    .socials{
        margin-left: auto;
    }
    a{
        margin-left: 0.5vw;
    }
}