.light-theme{
    $background: #e7dfd5;

    $base-font: #204051;
    $panel: #84a9ac;
    $highlights: #3b6978;

    html, body{
        background-color: $background;
        color: $base-font;
    }

    .header{
        background-color: $panel;
        .showcase{
            background-color: $highlights;
            color: $background !important;
            &:hover{
                background-color: $highlights;
            }
        }
        .contact{
            color: $base-font !important;
            &:hover{
                color: $highlights !important;
            }
        }
        .navbar-brand{
            color: $highlights;
            &:hover{
                color: $base-font;
            }
        }
    }

    .footer{
        background-color: $panel;
        a{
            color: $base-font;
        }
        
    }

    .cityview{
        background: $panel;
        .city-add{
            color: $base-font;
            &:hover{
                color: $highlights;
            }
        }
    }

    .city{
        border-bottom: 1px solid $highlights;
        .indicator{
            color: $highlights;
        }
        &:hover{
            .remove-icon{
                color: $base-font;
            }
        }
    }
    .form-row{
        .btn-link{
            color: $base-font;
        }
    }

    .hour-box{
        color: $base-font;
    }
}