<footer class='footer'>
    <h5 class='app'>
        Clock+
    </h5>
    <h5 class='details'>
        alex.jon.jarvis@gmail.com - s3607170 - Distinction
    </h5>
    <h5 class='socials'>
        Social
        <a href='https://www.twitter.com'><%= fa_icon 'twitter' %></a>
        <a href='https://www.facebook.com/A.Jarvis93'><%= fa_icon 'facebook' %></a>
        <a href='https://www.linkedin.com/in/alex-jarvis93/'><%= fa_icon 'linkedin' %></a>
    </h5>
</footer>