<!DOCTYPE html>
<html class='<% cookies[:theme] ||= 'dark-theme' %>'>
  <head>
    <title>Clock+</title>
    <%= render 'layouts/tags' %>
  </head>
  <body>
    
    <div class="container-fluid">
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
