<!DOCTYPE html>
<html>
  <head>
    <title>Clock+</title>
    <%= render 'layouts/tags' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
